<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Kanit&family=Lexend+Deca&family=Pathway+Extreme&family=Urbanist&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
    <link href="../static/main.css" rel="stylesheet" />
  

  <title> sistema </title>
</head>
<body class=" no-scrollbar  bg-primary">

  

  <!-- flex form section -->
  <section class="flex flex-col items-center ">
    
    <div class="absolute rounded-md bg-white  drop-shadow-md mx-auto mt-32 w-11/12 md:w-96">
      <!-- form login -->
      <form class="flex flex-col w-full px-8 py-6 " action="/api/register" method="post" autocomplete="off">
        
        <div class="mb-10 space-y-2 md:mb-6">
          <h5 class="mx-6 text-dark text-lg font-bold text-center">
            Security System
          </h5>
          {% if error is defined %}
            <div class="w-full p-2 bg-neutral text-center text-lg text-dark">
              {{error}}
            </div>
          {% endif %}
        </div>

        <input type="hidden" name="rol" value="usuario">

        <div class="relative flex flex-col mb-6 space-y-1">
          <label for="name" class="text-primaryDark">Nombre</label>
          <div class="flex border rounded-md items-center space-x-4 px-4 py-2">
            <i class="fas fa-id-card text-ctaDark fa-1x"></i>
            <input type="text" name="name" class="w-full text-sm focus:outline-none" placeholder="Ingrese su nombre" required>
          </div>
        </div>

        <div class="relative flex flex-col mb-6 space-y-1">
          <label for="username" class="text-primaryDark">Usuario</label>          
          <div class="flex border rounded-md items-center space-x-4 px-4 py-2">
            <i class="fas fa-user text-ctaDark fa-1x"></i>
            <input type="text" name="username" class="w-full text-sm focus:outline-none" placeholder="Ingrese su usuario" required>
          </div>
        </div>

        <div class="relative flex flex-col mb-6 space-y-1">
          <label for="email" class="text-primaryDark">Email</label>          
          <div class="flex border rounded-md items-center space-x-4 px-4 py-2">
            <i class="fas fa-envelope text-ctaDark fa-1x"></i>
            <input type="email" name="email" class="w-full text-sm focus:outline-none" placeholder="Ingrese su email" required>
          </div>
        </div>

        <div class="relative flex flex-col mb-6 space-y-1">
          <label for="password" class="text-primaryDark">Contraseña</label>          
          <div class="flex border rounded-md items-center space-x-4 px-4 py-2">
            <i class="fas fa-key text-ctaDark fa-1x"></i>
            <input type="password" name="password" class="w-full text-sm focus:outline-none" placeholder="Ingrese su contraseña" required>
          </div>
        </div>

        <div class="mb-6">
          <button type="submit" class="w-full p-3 rounded-md font-bold text-white bg-cta hover:bg-ctaDark">Registrarse</button>
        </div>

        <div class="w-full flex items-center justify-center text-center mb-6">
          <a href="/" class="bg-white rounded-full p-2 w-full text-cta border border-cta hover:bg-cta hover:text-white">Iniciar Sesion</a>
        </div>

      </form>     
    </div>
  </section>




  
</body>
</html>

